<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h2>To delete user : <%=main.email%></h2>
    <form method="post" action="/user/<%=main.id%>?_method=DELETE">
        <input placeholder="enter the password to delete" name="password">
        <button>Delete</button>
    </form>
</body>
</html>